*{
    box-sizing: border-box;
}

body {
       text-shadow: 1px 1px black;
    background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color:#f2f2f2;
    text-align: center;
}

 p, span {
    text-shadow: 1px 1px black;
   color: #f2f2f2;
}
span{
    text-shadow: 1px 1px blue;
   
}

h1, h3{
    text-shadow: 2px 2px black;
}

#navbar{
    text-shadow: 2px 2px black;
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
overflow:hidden;
}
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
      border-radius: 30px;
    background-color: #ddd;
    color: black;
      text-shadow: none;
  }
  
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 40px;
  }


#welcome-section{
    padding-top: 20px;
}


#projects{
    margin: auto;
    padding: auto;
    display: grid;
    grid-template-columns:auto;
    grid-row-gap: 30px;
    justify-content: center;
}

.project-image{
    margin: 8px;
   
    box-shadow: 5px 5px 2px black;
      -moz-box-shadow: 5px 5px 2px black;
      -webkit-box-shadow: 5px 5px 2px black;
      -khtml-box-shadow:5px 5px 2px black;
}
#image{
    border:1px solid black;
    box-shadow: 3px 3px 2px black;
    
}


.contact-links{
    background-repeat: no-repeat;
    background-position: center; 
    background-image: url("images/metal-background.jpg"); 
    box-shadow: 4px 4px 3px black;
    max-width: 420px;
    background-size: cover;
    overflow: hidden;
}


