*{
  box-sizing: border-box;
}

body {
     font-family: sans-serif;
      text-align: center;
      background-color: #101010;
      color: #E0E0E0;
}

span {
 color: silver;

}
a{
 color: silver;
}


.navbar {
  background-color: none; 
 opacity: 0.5;
background: #282828;
position: fixed;
width: 100%;
}

.navbar a {
    opacity: 1;
  color: white;
float: left;
display: block;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
background-clip: text;
}

.navbar a:hover {

color:deepskyblue;
}

#home{
  padding-top: 50px;
}

.content{
  padding: 3px;
 
}

a:hover {
color: blue;
}

.projects-section{
display: flex;
flex-wrap: wrap;
 margin:auto;
justify-content: space-evenly;
}

.project{
flex: auto;
align-self: center;
padding: 50 px;
}

.project-image {
  margin: 8px;
  box-shadow: 1px 2px 1px  #404040;
 max-width: 100%;
 border-radius: 8px;
}

#image{
max-width: 40%;  
border-radius: 50%;
box-shadow: 1px 2px 1px  #404040;
}
.contact-details{
color: lightskyblue;
}

.contact-links{
  padding-bottom: 50px;
  letter-spacing: 0.5px 
 
}
