body {
       text-shadow: 1px 1px silver;
       background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

#navbar{
    text-shadow: 2px 2px dimgray;
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#logo{
    align-content: flex-end;
 padding-right: 30px;
}
.project-image{
    margin: 8px;
    border:1px solid black;
    box-shadow: 5px 5px 2px black;
      -moz-box-shadow: 5px 5px 2px black;
      -webkit-box-shadow: 5px 5px 2px black;
      -khtml-box-shadow:5px 5px 2px black;
}
#image{
    border:1px solid black;
    box-shadow: 3px 3px 2px black;
}
#welcome-section{
    margin-top: 50px;
    padding-top: 50px;
}

#projects{
    margin-top: 30px;
    padding-top: 30px;
}
span, p {
    text-shadow: 0.5px 0.5px silver;
}

h1, h3{
    text-shadow: 2px 2px dimgray;
}
